@media (prefers-reduced-motion: no-preference) {
  .giraGira {
    animation: rotate-element infinite 10s linear;
  }
}

@keyframes rotate-element {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -------------------------------------------- */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1{
  font-size: 40px;
  margin: 30px 0 0 0px;
  text-align: center; 
}

p{
  text-align: center; 
  margin: 0 0 30px 0;
  font-weight: 500;

}

h2 {
  font-size: 20px;
  margin: 10px 0 0 0;
}

.contenitore{
  width: 300px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.foto { 
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.foto>img{
  height: 100%; 
  width: auto;
  transition: 0.3s ease-in-out;
  border-radius: 20px;
}

.foto:hover {
  width: 300px;
  height: 400px;
}

.testo{
  text-align: center;
  margin: 5px 0px;
  max-width: 200px;
}
.persona{
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.lista{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}